@model Dish
<div>

    <h1>Add a New Dish</h1>
    <a asp-controller="Home" asp-action="Dashboard" >Dashboard</a>
    <a asp-controller="Home" asp-action="Logout">Logout</a>

</div>


<form asp-controller="Home" asp-action="CreateDish" class="shadow p-3 mb-5 rounded" method="POST">

    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
        <input asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <span asp-validation-for="Price" class="text-danger font-weight-bold"></span>
        <input asp-for="Price" class="form-control">
    </div>
    @* <div class="form-group">
        <label asp-for="PriceInfo"></label>
        <span asp-validation-for="PriceInfo" class="text-danger font-weight-bold"></span>
        <input asp-for="PriceInfo" class="form-control">
    </div> *@
    @* <div class="form-group">
        <label asp-for="AddItem"></label>
        <span asp-validation-for="AddItem" class="text-danger font-weight-bold"></span>
        <input asp-for="AddItem" class="form-control">
    </div> *@


    <div class="form-group">
        <label asp-for="SubCategoryId"></label>
        <span asp-validation-for="SubCategoryId" class="text-danger font-weight-bold"></span>
        <select asp-for="SubCategoryId" class="form-control">
            @foreach (SubCategory item in ViewBag.AllSubCats)
            {
                <option value="@item.SubCategoryId">@item.Name</option>
            }
        </select>
    </div>


    <button type="submit" class="btn btn-outline-success">Create</button>
</form>  